.login-content {
  width: 60%;
  background-color: seashell;
  margin: 2rem auto;
  padding: 3rem 5rem;
  box-sizing: border-box;

  .login-title {
    text-align: center;
    font-size: 2rem;
  }
  .btn-submit {
    text-align: center;
    a {
      width: 60%;
    }
    button {
      width: 60%;
    }
  }
}
